#!/bin/bash

### BEGIN INIT INFO
# Provides:          coraza-waf
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Coraza Web Application Firewall
# Description:       Coraza Web Application Firewall
### END INIT INFO

user=coraza-waf
# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting Coraza WAF..."
    sudo -u $user bash -c '/bin/coraza-waf > /dev/null 2>&1 &'
    ;;
  stop)
    echo "Stopping Coraza WAF..."
    sudo -u $user bash -c 'echo not implemented yet.'
    sleep 2
    ;;
  *)
    echo "Usage: /etc/init.d/foo {start|stop}"
    exit 1
    ;;
esac

exit 0