[Unit]
Description=Coraza Web Application Firewall GRPC Server
After=redis-server.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=coraza-waf
ExecStart=/opt/coraza-waf/bin/coraza-ctl start
ExecStop=/opt/coraza-waf/bin/coraza-ctl stop
ExecReload=/opt/coraza-waf/bin/coraza-ctl reload

[Install]
WantedBy=multi-user.target