name: Core Ruleset Tests

on:
  push:
    branches: 
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        lfs: true
        fetch-depth: 0 #for better blame info
    - name: Setup libinjection
      run: |
        sudo make deps
        sudo ldconfig
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        lfs: true
        fetch-depth: 0 #for better blame info
        repository: jptosso/coraza-testsuite
        path: ftw
    - name: Update ftw deps
      run: go get -u github.com/jptosso/coraza-waf@master
    - name: Download CRS
      run: go install github.com/jptosso/crsmon/cmd/crsmon
    - name: Build CRS
      run: crsmon -path ./crs -v paranoia_level=4 -v crs_validate_utf8_encoding=1 -v arg_name_length=100 -v arg_length=400
    - name: clone crs tests
      run: git clone https://github.com/coreruleset/coreruleset
    - name: Run tests
      run: go run *.go run -d ./coreruleset/tests/regression -r ./crs/crs.conf