name: Fuzz tests

on:
  schedule:
    # https://crontab.guru/#05_14_*_*_*
    - cron: "05 14 * * *"
  workflow_dispatch:

jobs:
  fuzz:
    name: Fuzz tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: ">=1.23.0"
      - run: go run mage.go fuzz
      - run: |
          gh issue create --title "$GITHUB_WORKFLOW #$GITHUB_RUN_NUMBER failed" \
                          --body "See [$GITHUB_WORKFLOW #$GITHUB_RUN_NUMBER](https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)."
        if: failure() && github.run_attempt == 1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
