name: Coreruleset Compatibility

on:
  push:
  pull_request:
  # Cron just in case the CRS team changed something and we are not compatible anymore
  # At 06:00 on Monday, Wednesday, and Friday
  schedule:
    - cron: '0 6 * * 1,3,5'
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: Start httpbin
      run: docker run -p 8080:80 -d kennethreitz/httpbin
    - name: Setup CRS
      run: |
        git clone https://github.com/coreruleset/coreruleset
        cd coreruleset
        git checkout 6d8e8f8
        cd ..
        mv coreruleset /tmp
        cp coraza.conf-recommended /tmp/
        cp testdata/coreruleset/postdirectives.conf /tmp/
    - name: Go code
      run: |
        go install github.com/fzipi/go-ftw@latest
        mkdir caddy
        wget https://gist.githubusercontent.com/jptosso/42dbde4835169371e54a351c95644370/raw/ca6f71573b1d7f1a295f452582951fd5d0724efd/main.go
        cp testdata/coreruleset/Caddyfile .
        ls -lh
        sed -i 's/\/\/ _ "github.com/_ "github.com/g' main.go
        mv main.go caddy/main.go
        go get github.com/corazawaf/coraza-caddy@8ed5dd2
        go mod tidy
        go get ./...
        go get -u github.com/jptosso/coraza-pcre@593842e
        go build -o caddybin caddy/main.go
        file caddybin
        sudo setcap CAP_NET_BIND_SERVICE=+eip $(pwd)/caddybin
    - name: Start Caddy server
      run: |
        ./caddybin start -adapter caddyfile -config ./Caddyfile
    - name: Run go-ftw
      run: |
        go-ftw run -d /tmp/coreruleset/tests/regression --config testdata/coreruleset/.ftw.yml
