name: Regression Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "LICENSE"

jobs:
  # Generate matrix of tags for all permutations of the tests
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.generate.outputs.tags }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      
      - name: Generate tag combinations
        id: generate
        run: |
          go run mage.go tagsmatrix > tags.json
          echo "tags=$(cat tags.json)" >> "$GITHUB_OUTPUT"
        shell: bash
  test:
    needs: generate-matrix
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x]
        os: [ubuntu-latest]
        build-flag: ${{ fromJson(needs.generate-matrix.outputs.tags) }}
    runs-on: ${{ matrix.os }}
    env:
      GOLANG_BASE_VERSION: "1.23.x"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true  
      - name: Tests and coverage
        run: |
          export BUILD_TAGS=${{ matrix.build-flag }}
          go run mage.go coverage
      - name: "Codecov: General"
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5
        if: ${{ matrix.go-version == env.GOLANG_BASE_VERSION }}
        with:
          files: build/coverage.txt
          flags: default,${{ matrix.build-flag }}
          token: ${{ secrets.CODECOV_TOKEN }}   
      - name: "Codecov: Examples"
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5
        if: ${{ matrix.go-version == env.GOLANG_BASE_VERSION }}
        with:
          files: build/coverage-examples.txt
          flags: examples+${{ matrix.build-flag }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: "Codecov: FTW"
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5
        if: ${{ matrix.go-version == env.GOLANG_BASE_VERSION }}
        with:
          files: build/coverage-ftw.txt
          flags: ftw,${{ matrix.build-flag }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: "Codecov: Tinygo"
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5
        # only if coverage-tinygo.txt exists
        if: ${{ matrix.go-version == env.GOLANG_BASE_VERSION && hashFiles('build/coverage-tinygo.txt') != '' }}
        with:
          files: build/coverage-tinygo.txt
          flags: tinygo,${{ matrix.build-flag }}
          token: ${{ secrets.CODECOV_TOKEN }}
  enforce-all-checks:
      runs-on: ubuntu-latest
      needs: test
      permissions:
        checks: read
      steps:
        - name: GitHub Checks
          uses: poseidon/wait-for-status-checks@899c768d191b56eef585c18f8558da19e1f3e707 # v0.6.0
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ignore: "codecov/patch,codecov/project"
 
