name: Tinygo tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "LICENSE"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        # tinygo-version is meant to stay aligned with the one used in corazawaf/coraza-proxy-wasm
        tinygo-version: [0.40.1]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Setup tinygo
        uses: acifani/setup-tinygo@db56321a62b9a67922bb9ac8f9d085e218807bb3 # v2
        with:
          tinygo-version: ${{ matrix.tinygo-version }}

      - name: Cache TinyGo build
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: |
            ~/.cache/tinygo
          key: ${{ runner.os }}-tinygo-${{ matrix.tinygo-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-tinygo-${{ matrix.tinygo-version }}-

      - name: Tests
        run: tinygo test -v -short ./internal/...

      - name: Tests memoize
        run: tinygo test -v -short -tags=memoize_builders ./internal/...
